.listItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
}

.itemWrapper {
    width: 80vw;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 2px;
}

.itemContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}

.itemName {
    text-decoration: none;
    color: black;
}