.objectsListContainer {
    display: flex;
    justify-content: center;
}

.objectsListWrapper {
    gap: 20px;
    flex-direction: row;
    padding: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}
